<section id="comp_section">
    <h2>Employes</h2>
    <div id="emloyes_warpper">
        <table id="employes_table">
            <tr>
                <th></th>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Birthday</th>
                <th>Salary</th>
                <th>E-mail</th>
            </tr>
            <tr *ngFor="let employe of employes" [class.selected]="employe === selected_employee"
                (click)="onSelect(employe)">
                <td><input type="checkbox" name="multi_select"></td>
                <td>{{employe.id}}</td>
                <td>{{employe.fname}}</td>
                <td>{{employe.lname}}</td>
                <td>{{employe.dob}}</td>
                <td>{{employe.salary}}</td>
                <td>{{employe.email}}</td>
            </tr>
        </table>
        <app-employe-details id="details_continer" [employee]="selected_employee"></app-employe-details>
    </div>
</section>