<div class="open_form" *ngIf="mail">
    <h3>Sending E-mail to: {{mail}}</h3>
    <div class="update_fileds">
        <fieldset>
            <label for="to">to:</label>
            <div class="input_incloser">
                <input type="text" id="to" value="{{mail}}" disabled>
            </div>
        </fieldset>
        <fieldset>
            <label for="cc">Cc:</label>
            <div class="input_incloser">
                <input type="text" id="cc">
            </div>
        </fieldset>
        <fieldset>
            <label for="lname">Subject:</label>
            <div class="input_incloser">
                <input type="text" id="Subject">
            </div>
        </fieldset>
        <fieldset>
            <label for="message">My message:</label>
            <div class="input_incloser">
                <input type="textarea" id="message">
            </div>
        </fieldset>
    </div>
    <button id="send_btn" (click)="sendMail(mail)">Send</button>
</div>