#footer {
    height: 2em;
    background-color: #4b83bf;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-top: #000 solid 0.2em;
}

#footer>div {
    height: max-content;
}

#footer_social_btns>a {
    cursor: pointer;
    padding-right: 0.4em;
}

#footer_social_btns>a:visited,
#footer_social_btns>a:link {
    color: inherit;
}